<footer class="bg-dark">
	<div class="container ">
		<div class="row justify-content-md-center">
			<!-- <div class="col-1"></div> -->
			
			<div class="col-4">
				<div>
					<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
						<h3 class="nav-link text-light">On this site</h3>

						<li>
							<a class="nav-link text-light" href="index.php?page=home"><i class="fa fa-caret-right"></i>Home</a>
						</li>
						<li>
							<a class="nav-link text-light" href="index.php?page=search"><i class="fa fa-caret-right"></i>Search patient</a>
						</li>
						<li>
							<a class="nav-link text-light" href="index.php?page=addd"><i class="fa fa-caret-right"></i>Add new patient</a>
						</li>
						<li>
							<a class="nav-link text-light" href="index.php?page=doctor"><i class="fa fa-caret-right"></i>View doctor's patients</a>
						</li>
						<li>
							<a class="nav-link text-light" href="index.php?page=report"><i class="fa fa-caret-right"></i>View report</a>
						</li>
					</div>
				</div>
			</div>

			<div class="col-4 text-center">
				<br>
				<img class="img-fluid p-3 text-center" src="assets/images/bachkhoa.PNG" alt="bachkhoalogo">
				<img class="img-fluid p-3 text-center" src="assets/images/medical.png" alt="hospital">
				<div class="footer-copyright py-3 text-light">© 2020 Copyright:
					<a href="index.php?page=home"> HCMUT</a>
				</div>
			</div>

			<!-- <div class="col-1"></div> -->

			<div class="col-4">
				<div class="text-right">
					<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
						<h3 class="nav-link text-light">Contact</h3>

						<li>
							<h6 class="nav-link text-light" target="_blank"><i class="fas fa-phone-alt"></i> +(028)28282828</h6>
						</li>
						<li>
							<h6 class="nav-link text-light" target="_blank"><i class="fas fa-envelope"></i> tienbkhospital@hcmut.edu.vn</h6>
						</li>
						<li>
							<h6 class="nav-link text-light" target="_blank"><i class="fab fa-facebook"></i> Tien BK Hospital</h6>
						</li>
					</div>
				</div>
			</div>
			<br>
		</div>
	</div>
</footer>
</body>

</html>