<!DOCTYPE html>
<html>

<head>
	<script src="views/js/report_view.js"></script>
</head>

<body onload="activeSearchNav()">
	<div class="container content">
        <div class="p-5 mb-2 bg-light text-dark">
            <div class="row justify-content-md-center">
                <div class="col col-3 text-center">
                    <input type="radio" value="1" id="treatment" name="option" checked="checked"/>
                    <label style="font-size: 20px;">Treatment</label>
                </div>
                <div class="col col-3 text-center">
                    <input type="radio" value="2" id="examination" name="option"> 
                    <label style="font-size: 20px;">Examination</label>
                </div>
            </div>
        </div>
    </div>
</body> 
</html>