<!DOCTYPE html>
<html>

<head>
	<script src="views/js/search_patient_view.js"></script>
</head>

<body onload="activeSearchNav()">
	<div class="container content">
        <div class="p-5 mb-2 bg-light text-dark">
            <form class="form-inline md-form mr-auto mb-4 justify-content-md-center">
                <textarea onkeyup=search(this.value) class="form-control mr-sm-2" type="text" style="resize:none;" rows="1" cols="60" placeholder="Search patient..." aria-label="Search"></textarea>
                <button class="btn btn-primary btn-rounded btn-sm my-0" type="button">Search</button>
            </form>
        </div>
        <div id="demo"></div>
    </div>
</body> 
</html>