<!DOCTYPE html>
<html>

<head>
	<script src="views/js/view_doctor_view.js"></script>
</head>

<body onload="setUp()">
	<div class="container content">
        <div class="p-5 mb-2 bg-light text-dark">
            <div class="row justify-content-md-center">
                <div class="col col-1 text-center">Doctor:</div>
                <div class="col col-3 text-center">
                    <select onchange="openPatientList()" class="custom-select custom-select-sm" name="doctorList" id="doctorList" required>
                        <option value=""></option>
                    </select>
                </div>
            </div>

            <div id="patientForm" style="display: block;" class="p-3 mb-2 bg-white text-dark">
                <table class="table table-bordered">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">ID</th>
                            <th scope="col"></th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>

                    <tbody id="patientDetail">
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</body> 
</html>