<!DOCTYPE html>
<html>

<head>
	<script src="views/js/view_doctor_view.js"></script>
</head>

<body onload="activeSearchNav()">
	<div class="container content">
        <div class="p-5 mb-2 bg-light text-dark">
            <div class="row justify-content-md-center">
                <div class="col col-1 text-center">Doctor:</div>
                <div class="col col-3 text-center">
                    <select onchange="openPatientList()" class="custom-select custom-select-sm" name="category" id="category" required>
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</body> 
</html>